.searchInputContainer{
    display: flex;
}

.searchInputWrapper{
    display: flex;
    align-items: baseline!important;
}
.searchBtn{
    margin-left: 30px;
    width: 10rem;
    height:3rem;
}
.filterContainer{
   margin:20px 5px 30px 5px!important;
}
.filterbadge{
    margin-left: 30px;
    background-color: #565969;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    
}
.filterbadgeactive{
    background-color: #694bc7;
}
.filterInputs{
    /* margin-left: 20px; */
}
.filterInput {
    margin-left: 40px!important;
}

@media screen and (max-width: 1280px) {
    .searchHeading {
        margin-top: 30%;
    }

}
@media screen and (max-width: 980px) {
    .filterInput {
        margin-left: 0px!important;
    }

}