.addHead{
    margin-top: 5%;
    margin-bottom: 40px;
}

.custom-container2{
    padding: 0 5rem!important;
}
.custom-select{
    background-color: var(--greybg)!important;
    border: 1px solid #585963;
}

.custom-select:focus{
    border: 1px solid #585963;
box-shadow: none!important;
}

@media screen and (max-width: 820px) {
    .custom-container2{
        padding: 0 3rem!important;
    }
    .addHead{
        margin-top: 25%;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 425px) {
    .custom-container2{
        padding: 0 3rem!important;
    }
    .addHead{
        margin-top: 40%;
        margin-bottom: 40px;
    }
}