
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --black: #000000;
  --white: #ffff;

  /* Main Colors */
  --blue: #5bd4ec;
  --main: #694bc7;
  --subtext: #565969;

  /* Background Colors */
  --greybg: #0f1013;
  --darkbg: #0b0c0e;
}


.themegreybg {
  background-color: var(--greybg);
}

.themeblackbg {
  background-color: var(--darkbg);
}
.col, .row {
  padding: 0!important;
  margin: 0!important;
}


.custom-container{
  height: 100vh;
  overflow: auto;
  padding-bottom: 40px;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
}
.form-label{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(103 105 115);
}

/* Text Styles */
.md16White {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
}
.md40white{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: white;
}
.rg20grey{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(103 105 115);
}
.md30main{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: var(--main);
}
.rg16subtxt{
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--subtext)
}
.lt15white{
  font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #09a5ab;
}


.multiselectstyle{
  display: flex;
  flex-direction: column;
}
.form-control{
  background-color: var(--greybg)!important;
  border-radius: 0px!important;
  border-width: 0!important;
  border-bottom-width: 1px!important;
  border-color: #585963!important;
  padding-bottom: 30px!important;
  padding-top: 30px!important;
  color: #a0a0a0!important;
  font-family: 'Poppins', sans-serif!important;
  font-weight: 500!important;
  font-size:18px!important;
}
.form-control:focus {
  box-shadow: none!important;
}